###################################################################################################
# apiFields configures the fields allowed in the API POST requests.
# type: String, Int32, Float, Double, Timestamp.
###################################################################################################

apiFields:
- field: reading
  type: Double
- field: temperature
  type: Double

###################################################################################################
# codeFields are runtime evaluated fields that run C# code. They run in sequential order. They have access to all the apiFields and the result of any codeField above it in the list.
# type: String, Int32, Float, Double, Timestamp.
# There are built-in code variable groups with member variables available to be assigned to a codeField; "server" and "firstValueInColumn" (example: "server.timestamp" and "firstValueInColumn.columnFieldHere")
###################################################################################################

codeFields:
- field: serverTimestampLocal
  type: Timestamp
  code: server.timestamp
- field: serverTimestampUtc
  type: Timestamp
  code: server.timestampUtc
- field: secondsSinceFirstServerTimestamp
  type: Double
  code: serverTimestampUtc.Subtract(firstValueInColumn.serverTimestampUtc).TotalSeconds
- field: exampleMultilineCodeField
  type: String
  code: |
    double sqrtResult = Math.Sqrt(2.0);
    double additionResult = sqrtResult + 2.0;
    additionResult.ToString("F3") + " volts"

###################################################################################################
# columns configures the columns generated in the CSV datalog.
# format can be empty (default format)
###################################################################################################

columns:
- field: serverTimestampUtc
  header: Server timestamp UTC
  format: o
- field: serverTimestampLocal
  header: Server timestamp local (Excel)
  format: yyyy-MM-dd HH:mm:ss
- field: secondsSinceFirstServerTimestamp
  header: Seconds since first server timestamp
  format: F3
- field: reading
  header: 3458A reading
  format: F7
- field: temperature
  header: 3458A temperature
  format: F1
- field: exampleMultilineCodeField
  header: exampleCodeField
  format: 

###################################################################################################
# storageFormat configures the datalog storage format.
# delimiter should be one of: Comma, Semicolon or Tab
# extension should be any valid file extension without the dot (recommended: Comma = csv, Semicolon = dsv, Tab = tsv) 
###################################################################################################
storageFormat:
  delimiter: Comma
  extension: csv